<div class="page">
    <div cdkDropListGroup class="page-content">
        <div class="list-container">
            <div class="task-header">
                <mat-icon class="to-do-icon">reorder</mat-icon>
                <h2>To Do</h2>
            </div>
            <div cdkDropList [cdkDropListData]="todo" class="tasks-container"
                (cdkDropListDropped)="drop($event,taskStatus.TODO)">
                <task-card class="task-card" *ngFor="let task of todo" cdkDrag [formGroup]="form" [cardContent]="task"
                    [cdkDragData]="task">
                </task-card>
            </div>
        </div>
        <div class="list-container">
            <div class="task-header">
                <mat-icon class="doing-icon">list</mat-icon>
                <h2>Doing</h2>
            </div>

            <div cdkDropList [cdkDropListData]="doing" class="tasks-container"
                (cdkDropListDropped)="drop($event,taskStatus.DOING)">
                <task-card class="task-card" *ngFor="let task of doing" cdkDrag [formGroup]="form" [cardContent]="task"
                    [cdkDragData]="task">
                </task-card>
            </div>
        </div>
        <div class="list-container">
            <div class="task-header">
                <mat-icon class="done-icon">fact_check</mat-icon>
                <h2>Done</h2>
            </div>
            <div cdkDropList [cdkDropListData]="done" class="tasks-container"
                (cdkDropListDropped)="drop($event,taskStatus.DONE)">
                <task-card class="task-card" *ngFor="let task of done" cdkDrag [formGroup]="form" [cardContent]="task"
                    [cdkDragData]="task">
                </task-card>
            </div>
        </div>
    </div>
</div>