<div class="header">
    <div class="left-side">
        <img src="../../../assets/images/Logo.png" alt="">

    </div>
    <div class="right-side">
        <mat-icon></mat-icon>
        <mat-icon title="Add Item" (click)="addNewTask()">add</mat-icon>
        <div class="profile-img-container">
            <img src="../../../assets/images/Bitmap.png" alt="" (click)="showTab()">
        </div>
        <div class="tab" *ngIf="isTabShowed">
            <div class="profile-img-container image-side">
                <img src="../../../assets/images/Bitmap.png" alt="">
            </div>
            <div class="email-side">
                <h4 class="user-email">
                    {{userEmail? userEmail : 'example@gmail.com'}}
                </h4>
                <h3 class="logout-btn" (click)="logout()">Log Out <mat-icon>logout</mat-icon></h3>
            </div>
        </div>
    </div>
</div>