<div class="page">
    <div class="images-side">
        <div class="logo">
            <img src="../../../assets/images/Logo@2x.png" alt="logo">
        </div>
        <div class="people">
            <img src="../../../assets/images/Man.png" alt="man" class="man">
            <img src="../../../assets/images/Woman.png" alt="woman" class="woman">
        </div>
    </div>
    <div class="fields-side">
        <form class="form" [formGroup]="form" (ngSubmit)="onLogin()">
            <h1 class="title">
                Time To Work
            </h1>
            <div class="form-group">
                <label for="email">
                    Email
                </label>
                <input id="email" type="email" name="email" required formControlName="email" placeholder="Email">
                <div *ngIf="form.controls['email'].dirty && form.hasError('required','email')" class="alert">
                    <h5>*Email is invalid.</h5>
                </div>
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                </label>
                <input type="password" name="password" formControlName="password" required placeholder="Password">
                <div *ngIf="form.controls['password'].dirty && form.hasError('required','password')" class="alert">
                    <h5>*Password is invalid.</h5>
                </div>
            </div>
            <button class="sign-in-button" [ngClass]="{'enabled-button':form.valid}"
                [disabled]="form.invalid" type="submit">
                SIGN IN
            </button>
        </form>
    </div>
</div>